<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tool="http://www.springframework.org/schema/tool"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/tool
                           http://www.springframework.org/schema/tool/spring-tool-2.5.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/lang
                           http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                           http://www.springframework.org/schema/jee
                           http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task-3.0.xsd">



	<task:annotation-driven executor="taskExecutor" />
	<task:executor id="taskExecutor" pool-size="10-50"
		queue-capacity="75" rejection-policy="CALLER_RUNS" />


	<!-- ***************** -->
	<!-- Common Properties -->
	<!-- ***************** -->

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/properties/hibernate.properties</value>
			</list>
		</property>
	</bean>
	
	
	<bean id="employeeService" class="com.rsi.esk.service.EmployeeServiceImpl">
		<property name="employeeDao" ref="employeeDao" />
	</bean>

	<bean id="employeeDao" class="com.rsi.esk.dao.EmployeeDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="phoneTypeDao" class="com.rsi.esk.dao.PhoneTypeDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="phoneTypeService" class="com.rsi.esk.service.PhoneTypeServiceImpl">
		<property name="phoneTypeDao" ref="phoneTypeDao" />
	</bean>
	
	<bean id="phoneDao" class="com.rsi.esk.dao.PhoneDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="phoneService" class="com.rsi.esk.service.PhoneServiceImpl">
		<property name="phoneDao" ref="phoneDao" />
	</bean>

	<bean id="phoneTypeConverter" class="com.rsi.esk.converter.PhoneTypeConverter">
		<property name="phoneTypeService" ref="phoneTypeService" />
	</bean>

	<bean id="employeeSkillService" class="com.rsi.esk.service.EmployeeServiceImpl">
		<property name="employeeSkillDao" ref="employeeSkillDao" />
	</bean>

	<bean id="employeeSkillDao" class="com.rsi.esk.dao.EmployeeSkillDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="devCenterService" class="com.rsi.esk.service.DevCenterServiceImpl">
		<property name="devCenterDao" ref="devCenterDao" />
    </bean>
	
	<bean id="devCenterDao" class="com.rsi.esk.dao.DevCenterDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
		
		</bean>
	<bean id="skillTypeDao" class="com.rsi.esk.dao.SkillTypeDaoImpl" >
    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="skillTypeService" class="com.rsi.esk.service.SkillTypeServiceImpl" >
	    <property name="skillTypeDao" ref="skillTypeDao" />
	</bean> 
</beans>