/build
/node_modules
bower_components
/target
/.gradle
/.springbeans
/.idea
/lib
/jsp
/ESKserver/build
/ESKserver/bin
/ESKserver/.settings
/ESKserver/.classpath
/ESKclient/build
/ESKclient/bin
/ESKclient/.settings
/ESKclient/.classpath
/ESKclient/all.sourcemap.json